- if License.feature_available?(:ide)
  .col-lg-4
    %h4.prepend-top-0
      Web IDE (Beta)
    %p
      Enable the new web IDE on this device to make it possible to open and edit multiple files with a single commit.
      - if Gitlab::CurrentSettings.should_check_namespace_plan?
        Available for public GitLab.com projects or those using Gold.
  .col-lg-8.multi-file-editor-options
    = label_tag do
      .preview.append-bottom-10= image_tag "multi-editor-off.png"
      = f.radio_button :multi_file, "off", checked: true
      Off
    = label_tag do
      .preview.append-bottom-10= image_tag "multi-editor-on.png"
      = f.radio_button :multi_file, "on", checked: false
      On

  .col-sm-12
    %hr
